@model api.Movie_Data

<div>
    <h4>MovieData</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ext)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ext)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.guid)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.guid)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.folder)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.folder)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Movie_Info.backdrop_path)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Movie_Info.backdrop_path)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Movie_Info.adult)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Movie_Info.adult)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
