@model IEnumerable<api.MovieData>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.MovieInfo.poster_path)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.movie_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.movie_ext)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.movie_guid)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            <img src="https://image.tmdb.org/t/p/w300/@Html.DisplayFor(modelItem=>item.MovieInfo.poster_path)" alt="poster" width="120" />
        <td>
            @Html.DisplayFor(modelItem => item.movie_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.movie_ext)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.movie_guid)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { guid=item.movie_guid }) 
            <br />
            @Html.ActionLink("Details", "Details", new { guid=item.movie_guid }) 
            <br />
            @Html.ActionLink("Delete", "Delete", new { guid=item.movie_guid })
        </td>
    </tr>
}

</table>
